<ion-header no-border>
  <div class="login-header ion-padding">
    <img class="logo-img" src="assets/img/logo.png">
  </div>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="">
    <ion-card>
      <ion-card-header>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <h2>Cadastrar</h2>
      </ion-card-header>

<ion-item>
  <ion-label position="stacked">Nome</ion-label>
  <ion-input type="text" placeholder="Digite seu nome" [(ngModel)]="your_name"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">E-mail</ion-label>
  <ion-input type="text" placeholder="Digite seu e-mail" [(ngModel)]="email_adress"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Senha</ion-label>
  <ion-input type="password" placeholder="Digite sua senha" [(ngModel)]="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Confirmar senha</ion-label>
  <ion-input type="password" placeholder="Digite a senha novamente" [(ngModel)]="confirm_password"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Gênero</ion-label>
  <ion-select interface="popover" [(ngModel)]="gender">
    <ion-select-option value="f">Feminino</ion-select-option>
    <ion-select-option value="m">Masculino</ion-select-option>
    <ion-select-option value="nb">Não-binário</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label position="stacked">Data de nascimento</ion-label>
  <ion-input type="text" placeholder="Formato a informar: Dia/Mês/Ano" [(ngModel)]="date_birth"></ion-input>
  <!--<ion-datetime displayFormat="YYYY/MM/DD" [(NgModel)]="date_birth" min="1945-01-01" max="2020-12-31"></ion-datetime>-->
</ion-item>

</ion-card>

<ion-button color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="tryRegister()"
[disabled]="disabledButton">Cadastrar</ion-button>

  </div>
</ion-content>

