<ion-header no-border>
  <div class="login-header ion-padding">
    <img class="logo-img" src="assets/img/logo.png">
  </div>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="">
    <ion-card>
      <ion-card-header>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <h2>Cadastrar</h2>
      </ion-card-header>

<ion-item>
  <ion-label position="stacked">Nome</ion-label>
  <ion-input type="text" placeholder="Digite seu nome" [(ngModel)]="Nome"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">E-mail</ion-label>
  <ion-input type="text" placeholder="Digite seu e-mail" [(ngModel)]="Email"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Senha</ion-label>
  <ion-input type="password" placeholder="Digite sua senha" [(ngModel)]="Senha"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Confirmar senha</ion-label>
  <ion-input type="password" placeholder="Digite a senha novamente" [(ngModel)]="ConfirmarSenha"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Gênero</ion-label>
  <ion-select interface="popover" [(ngModel)]="Genero">
    <ion-select-option value="Fem">Feminino</ion-select-option>
    <ion-select-option value="Masc">Masculino</ion-select-option>
    <ion-select-option value="Não-bin">Não-binário</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label position="stacked">Data de nascimento</ion-label>
  <ion-input
   mask="00/00/0000"
  [dropSpecialCharacters]="false"
   type="text" 
   placeholder="Formato a informar: Dia/Mês/Ano"
   [(ngModel)]="Nascimento"></ion-input>
</ion-item>

</ion-card>

<ion-button color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="tryRegister()"
[disabled]="disabledButton">Cadastrar</ion-button>

  </div>
</ion-content>

