<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="">
    <ion-card>
      <ion-card-header>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <h2>Cadastrar</h2>
      </ion-card-header>

<ion-item>
  <ion-label position="stacked">Nome da Oferta</ion-label>
  <ion-input type="text" placeholder="Digite o nome da oferta" [(ngModel)]="NomeOf"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Descrição</ion-label>
  <ion-input type="text" placeholder="Digite a descrição da oferta em questão" [(ngModel)]="Desc"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Imagem do Item</ion-label>
  <ion-input type="text" placeholder="Imagem" [(ngModel)]="Imagem"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Preço desejado</ion-label>
  <ion-input type="text" placeholder="Digite o preço desejado na oferta em questão" [(ngModel)]="Preco"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Categoria</ion-label>
  <ion-select interface="popover" [(ngModel)]="Categoria">
    <ion-select-option value="Ferramentas">Ferramentas</ion-select-option>
    <ion-select-option value="Casa">Casa</ion-select-option>
    <ion-select-option value="Cozinha">Cozinha</ion-select-option>
    <ion-select-option value="Tecnologia">Tecnologia</ion-select-option>
    <ion-select-option value="Outros">Outros</ion-select-option>
  </ion-select>
</ion-item>



</ion-card>

<ion-button color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="tryRegister()"
[disabled]="disabledButton">Cadastrar</ion-button>

</div>
</ion-content>
