<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Produto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="https://madeinbrazil.fbitsstatic.net/img/p/guitarra-strato-tg530-woodstock-tagima-azul-laked-placid-blue-502-87267/273752.jpg?w=800&h=800&v=no-change" alt="imagem indisponivel">
    <ion-card-header>
      <ion-card-subtitle>Guitarra</ion-card-subtitle>
      <ion-card-title>R$150,00 </ion-card-title>
      <ion-button size="small" >Alugar</ion-button>
      <ion-card-content>
       Guitarra modelo x usada por 3 meses apenas.
       Em perfeitas condições

        <h2>Dados do anúnciante</h2>
        (14)991563548
        

        <ion-button routerLink='/alugar'>Alugar</ion-button>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
