<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Produto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="https://images-americanas.b2w.io/spacey/2018/12/21/martelo1.jpg" alt="imagem indisponivel">
    <ion-card-header>
      <ion-card-subtitle>nomeProduto</ion-card-subtitle>
      <ion-card-title>valorProduto </ion-card-title>
      <ion-button size="small" >Alugar</ion-button>
      <ion-card-content>
        Descrição estranhamente detalhada

        <h2>Dados do anúnciante</h2>
        telefone.usuario
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
