<ion-header> 
  <ion-toolbar color="primary">

    <ion-title>Anúncios ativos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-slides>
    <ion-card>

    <!--<ion-list> 
    <ion-item>
      <img class="imagem" src="https://images-americanas.b2w.io/spacey/2018/12/21/martelo1.jpg">
      <ion-label>Produto</ion-label>
      <ion-button>Ver anúncio</ion-button>
    </ion-item>
  </ion-list>  
</ion-card>-->

  </ion-card>
</ion-content>
