<ion-header no-border>
  <div class="login-header ion-padding">
    <img class="logo-img" src="assets/img/logo.png">
  </div>
</ion-header>

<ion-content>
  <div class="center">
    
      <div heading-column-lr>
        <h1 big-heading>Login</h1>
        <ion-button transparent clear small-heading>SING UP</ion-button>
      </div>

      <ion-label> Faça login para explorar as ofertas do aplicativo</ion-label>

        <ion-item transparent>
          <ion-icon name="person"></ion-icon>
          <ion-input [(ngModel)]="Email" placeholder="Digite seu usuário" type="text"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input [(ngModel)]="Password" placeholder="Digite sua senha" type="password"></ion-input>
        </ion-item>
        <ion-label class="forget-password">Esqueceu a senha?</ion-label>

        <div linespace></div>

        <ion-button color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block"
        (click)="EfetuarLogin()">Login</ion-button>
        <ion-label class="ion-text-center">Ainda não tem acesso? <span class="link-button" (click)="Cadastrar()">Cadastrar</span> 
        </ion-label>
  </div>
</ion-content>
