<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
    Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="always" color="medium" placeholder="Pesquisar"></ion-searchbar>
  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-select interface="popover">
      <ion-select-option>Estado.txt</ion-select-option>
  
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Cidade</ion-label>
    <ion-select interface="popover">
      <ion-select-option>Cidade.txt</ion-select-option>
  
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item>
      <img  class="imagem" src="https://images-americanas.b2w.io/spacey/2018/12/21/martelo1.jpg">
      <ion-label>Produto</ion-label>
      <ion-button>Ver</ion-button>
    </ion-item>
  </ion-list>  


</ion-content>
