<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Usuário
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
  
  
  <ion-card>
    <img class="imagem" src="https://static.vecteezy.com/system/resources/previews/000/550/980/non_2x/user-icon-vector.jpg" >
    <ion-button><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-button>
  
    <ion-card-header>
      <ion-card-subtitle>avaliacaoUsuario</ion-card-subtitle>
      <ion-card-title>nomeUsuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>telefoneUsuario</p>
      <p>emailUsuario</p>
      <p>CPF</p>
      <p>anunciosAtivos: Qtd</p>
      
  <ion-button size="block" routerLink='/anuncios'>Visualizar anúncios</ion-button>
    </ion-card-content>

  </ion-card>
 
  <ion-button size="block" routerLink='/configuracoes'>Configurações <ion-icon slot="icon-only" name="settings-outline"></ion-icon></ion-button>
  <ion-button color="danger" size="block" >Desconectar</ion-button>

</ion-content>
