<ion-header no-border>
  <div class="login-header ion-padding">
    <img class="logo-img" src="assets/img/logo.png">
  </div>
</ion-header>

<ion-content>
  <div class="">
    <ion-card>
      <ion-card-header>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <h2>Alugar Produto</h2>
      </ion-card-header>

<ion-item>
  <ion-label position="stacked">Número do cartão</ion-label>
  <ion-input type="text" placeholder="Número do cartão"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Nome do Titular</ion-label>
  <ion-input type="text" placeholder="Nome do Titular" [(ngModel)]="email_address"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Código de segurança</ion-label>
  <ion-input type="text" placeholder="CVV" ></ion-input>
</ion-item>


<ion-item>
  <ion-label position="stacked">Endereço</ion-label>
  <ion-input type="password" placeholder="Endereço" [(ngModel)]="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Código Postal</ion-label>
  <ion-input type="password" placeholder="00000-000" [(ngModel)]="confirm_password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">CPF</ion-label>
  <ion-input type="text" 
  placeholder="CPF" 

></ion-input>

<ion-item>
  <ion-label position="stacked">Complemento</ion-label>
  <ion-input type="text" 
  placeholder="Complemento" 

></ion-input>

</ion-item>


<ion-item>
  <ion-label position="stacked">Data de nascimento</ion-label>
  <ion-input
   mask="00/00/0000"
  [dropSpecialCharacters]="false"
   type="string" 
   placeholder="Formato a informar: Dia/Mês/Ano"
   [(ngModel)]="date_birth"></ion-input>
</ion-item>

</ion-card>

<ion-button color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block">Cadastrar</ion-button>

  </div>
</ion-content>
